//colors -> color/_colors.scss
// $color_wild_sand_approx: #f5f5f5;
// $white: #ffffff;
// $color_tuatara_approx: #383838;
// $color_gunsmoke_approx: #838383;
// $color_chicago_approx: #5f5f5f;

.tab-wrap {
	margin-bottom: 20px;
}
.tabList .tab-menu li {
	a:hover {
		padding-left: 6px;
		border-left: none;
		background: $color_wild_sand_approx;
		background: linear-gradient($white 0, $color_wild_sand_approx 100%) repeat 0 0;
		color: $color_tuatara_approx;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
		text-decoration: none;
	}
	&.current a {
		padding-left: 6px;
		border-left: none;
		background: $color_gunsmoke_approx;
		background: linear-gradient($color_chicago_approx 0, $color_gunsmoke_approx 100%) repeat 0 0;
		color: $white;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
		font-weight: bold;
	}
}
