//colors
$active_background_color: #ffffff;
$active_border_color: #f5b8b8;
$active_color: #2563b9;
$highlight_background_color: #fce6e6;
$highlight_border_color: #d5d5d5;
$header_border_color: #2563b9;
$menu_border_color: #ffffff;
$menu_color: #ffffff;
$menu_background_color: #1a4580;
$menu_background_gradient_color_from: #1a4580;
$menu_background_gradient_color_to: #397cd7;
$icon_title_color: #66aced;
$tab_color: #ffffff;
$tab_background_color: #1a4580;
$tab_background_gradient_color_from: #1a4580;
$tab_background_gradient_color_to: #397cd7;
$btn_border_color: #617897;
$btn_background_color: #1a4580;
$btn_background_gradient_color_from: #397cd7;
$btn_background_gradient_color_to: #1a4580;
$btn_hover_border_color: #617897;
$btn_hover_background_color: #1a4580;
$btn_hover_background_gradient_color_from: #397cd7;
$btn_hover_background_gradient_color_to: #1a4580;

@import "theme";
