//colors
$active_background_color: #ffffff;
$active_border_color: #f5b8b8;
$active_color: #2a7e4f;
$highlight_background_color: #fce6e6;
$highlight_border_color: #d5d5d5;
$header_border_color: #2a7e4f;
$menu_border_color: #ffffff;
$menu_color: #ffffff;
$menu_background_color: #194b2f;
$menu_background_gradient_color_from: #194b2f;
$menu_background_gradient_color_to: #37a467;
$icon_title_color: #b9e15c;
$tab_color: #ffffff;
$tab_background_color: #194b2f;
$tab_background_gradient_color_from: #194b2f;
$tab_background_gradient_color_to: #37a467;
$btn_border_color: #4e7762;
$btn_background_color: #194b2f;
$btn_background_gradient_color_from: #37a467;
$btn_background_gradient_color_to: #194b2f;
$btn_hover_border_color: #4e7762;
$btn_hover_background_color: #1d5837;
$btn_hover_background_gradient_color_from: #4bc380;
$btn_hover_background_gradient_color_to: #1d5837;

@import "theme";
