//colors
$active_background_color: #ffffff;
$active_border_color: #f5b8b8;
$active_color: #e74c3c;
$highlight_background_color: #fce6e6;
$highlight_border_color: #d5d5d5;
$header_border_color: #e74c3c;
$menu_border_color: #ffffff;
$menu_color: #ffffff;
$menu_background_color: #e3301e;
$menu_background_gradient_color_from: #e3301e;
$menu_background_gradient_color_to: #ed7669;
$icon_title_color: #ed6f6b;
$tab_color: #ffffff;
$tab_background_color: #e3301e;
$tab_background_gradient_color_from: #e3301e;
$tab_background_gradient_color_to: #ed7669;
$btn_border_color: #9c5c5c;
$btn_background_color: #e3301e;
$btn_background_gradient_color_from: #ed7669;
$btn_background_gradient_color_to: #e3301e;
$btn_hover_border_color: #9c5c5c;
$btn_hover_background_color: #e53e2d;
$btn_hover_background_gradient_color_from: #f29f97;
$btn_hover_background_gradient_color_to: #e53e2d;

@import "theme";
