//colors
$active_background_color: #ffffff;
$active_border_color: #f5b8b8;
$active_color: #3498db;
$highlight_background_color: #fce6e6;
$highlight_border_color: #d5d5d5;
$header_border_color: #3498db;
$menu_border_color: #ffffff;
$menu_color: #ffffff;
$menu_background_color: #1c6a9e;
$menu_background_gradient_color_from: #1c6a9e;
$menu_background_gradient_color_to: #51a7e0;
$icon_title_color: #66aced;
$tab_color: #ffffff;
$tab_background_color: #1c6a9e;
$tab_background_gradient_color_from: #1c6a9e;
$tab_background_gradient_color_to: #51a7e0;
$btn_border_color: #5d95b5;
$btn_background_color: #1c6a9e;
$btn_background_gradient_color_from: #51a7e0;
$btn_background_gradient_color_to: #1c6a9e;
$btn_hover_border_color: #5d95b5;
$btn_hover_background_color: #1f74ac;
$btn_hover_background_gradient_color_from: #7cbde8;
$btn_hover_background_gradient_color_to: #1f74ac;

@import "theme";
