//colors
$active_background_color: #ffffff;
$active_border_color: #f5b8b8;
$active_color: #2ecc71;
$highlight_background_color: #fce6e6;
$highlight_border_color: #d5d5d5;
$header_border_color: #2ecc71;
$menu_border_color: #ffffff;
$menu_color: #ffffff;
$menu_background_color: #229552;
$menu_background_gradient_color_from: #229552;
$menu_background_gradient_color_to: #39d27a;
$icon_title_color: #b9e15c;
$tab_color: #ffffff;
$tab_background_color: #229552;
$tab_background_gradient_color_from: #229552;
$tab_background_gradient_color_to: #39d27a;
$btn_border_color: #62967b;
$btn_background_color: #229552;
$btn_background_gradient_color_from: #39d27a;
$btn_background_gradient_color_to: #229552;
$btn_hover_border_color: #62967b;
$btn_hover_background_color: #25a25a;
$btn_hover_background_gradient_color_from: #62dc96;
$btn_hover_background_gradient_color_to: #25a25a;

@import "theme";
