//colors
$active_background_color: #ffffff;
$active_border_color: #f5b8b8;
$active_color: #ff9933;
$highlight_background_color: #fce6e6;
$highlight_border_color: #d5d5d5;
$header_border_color: #ff9933;
$menu_border_color: #ffffff;
$menu_color: #ffffff;
$menu_background_color: #dd6f00;
$menu_background_gradient_color_from: #dd6f00;
$menu_background_gradient_color_to: #ffa144;
$icon_title_color: #f0bb4A;
$tab_color: #ffffff;
$tab_background_color: #dd6f00;
$tab_background_gradient_color_from: #dd6f00;
$tab_background_gradient_color_to: #ffa144;
$btn_border_color: #958163;
$btn_background_color: #dd6f00;
$btn_background_gradient_color_from: #ffa144;
$btn_background_gradient_color_to: #dd6f00;
$btn_hover_border_color: #958163;
$btn_hover_background_color: #ee7700;
$btn_hover_background_gradient_color_from: #ffbb77;
$btn_hover_background_gradient_color_to: #ee7700;

@import "theme";
