//colors
$active_background_color: #ffffff;
$active_border_color: #f5b8b8;
$active_color: #cc0000;
$highlight_background_color: #fce6e6;
$highlight_border_color: #d5d5d5;
$header_border_color: #cc0000;
$menu_border_color: #ffffff;
$menu_color: #ffffff;
$menu_background_color: #7e2020;
$menu_background_gradient_color_from: #7e2020;
$menu_background_gradient_color_to: #d43539;
$icon_title_color: #ed6f6b;
$tab_color: #ffffff;
$tab_background_color: #7f2020;
$tab_background_gradient_color_from: #7f2020;
$tab_background_gradient_color_to: #d5363a;
$btn_border_color: #976161;
$btn_background_color: #831f1f;
$btn_background_gradient_color_from: #d6363a;
$btn_background_gradient_color_to: #831f1f;
$btn_hover_border_color: #976161;
$btn_hover_background_color: #983535;
$btn_hover_background_gradient_color_from: #f05459;
$btn_hover_background_gradient_color_to: #983535;

@import "theme";
