//colors
$black: #000000;
$white: #fff;
$white_10: rgba(255, 255, 255, 0.1);
$white_25: rgba(255, 255, 255, 0.25);
$color_cerulean_approx: #00ace5;
$color_pacific_blue_approx: #01b0c0;
$color_mosque_approx: #09646c;
$color_blue_chill_approx: #0d909b;
$color_elm_approx: #18747a;
$color_dodger_blue_approx: #2196f3;
$color_matisse_approx: #225d97;
$color_log_cabin_approx: #232323;
$color_plantation_approx: #2a4345;
$color_mine_shaft_approx: #313131;
$color_cape_cod_approx: #414141;
$color_green_leaf_approx: #4c7607;
$color_apple_approx: #4caf50;
$color_chicago_approx: #5a5a5a;
$color_mountain_mist_approx: #999999;
$color_gallery_approx: #ededed;
$color_red_orange_approx: #f44336;
$color_selective_yellow_approx: #ffb900;
$color_amber_approx: #ffc107;
$color_cod_gray_20_approx: rgba(8, 8, 8, 0.2);
$color_cod_gray_36_approx: rgba(8, 8, 8, 0.36);
$color_cod_gray_88_approx: rgba(8, 8, 8, 0.88);
$color_mine_shaft_85_approx: rgba(49, 49, 49, 0.85);
$color_mine_shaft_96_approx: rgba(49, 49, 49, 0.96);
$color_pacific_blue_15_approx: rgba(1, 176, 192, 0.15);
