//urls
$url_header_02: url(../../../../images/gem/skin/flat/cms-title.png);
$url_hm_1: url(../../../../images/gem/skin/flat/icon-user.png);
$url_hm_2: url(../../../../images/gem/skin/flat/icon-user-cog.png);
$url_hm_3: url(../../../../images/gem/skin/flat/icon-checkbox-white.png);
$url_hm_4: url(../../../../images/gem/skin/flat/icon-checkbox-glow.png);
$url_hm_5: url(../../../../images/gem/skin/flat/icon-search-header.png);
$url_hm_6: url(../../../../images/gem/skin/flat/cms-title.png);
$url__mn_1: url(../../../../images/gem/skin/flat/icon-nav-001.png);
$url__mn_2: url(../../../../images/gem/skin/flat/icon-nav-000.png);
$url__mn_3: url(../../../../images/gem/skin/flat/cms-title-mini.png);
