//urls
$url_ts1: url(../../../../images/gem/skin/vertical/bg-col02-01.gif);

//セパレータ
.col2-wrap {
	min-width: 750px;
	background: $url_ts1 repeat-y center top;
	.col-left {
		float: left;
		width: 48%;
	}
	.col-right {
		float: right;
		width: 48%;
	}
}
