#header-container {
	margin: 0 auto 0;
	border-top: 5px solid $black;
	border-bottom: 1px solid $color_star_dust_approx;
	width: 100%;
}
#header {
	padding: 9px 15px 11px;
	border-bottom: 1px solid $white;
	background: $color_gray_nurse_approx;
	background: linear-gradient($white 0, $color_gray_nurse_approx 100%) repeat 0 0;
	zoom: 1;
	#title {
		float: left;
		h1 {
			font-size: 184%;
			vertical-align: middle;
			letter-spacing: -0.02em;
			span {
				position: relative;
				top: 2px;
				font-weight: bold;
				font-family: $font_0, $font_1;
				color: $color_fuscous_gray_approx;
			}
			.tenant-mini-image {
				display: none;
			}
		}
	}
	div.inner-r {
		padding: 0 16px 13px;
		height: 75px;
	}
}
