//ログイン
#login {
}

body {
	&#login {
		#content {
			margin: 60px auto;
		}
		#main {
			float: none;
			margin: 0 auto;
			width: 450px;
			h2 {
				background-image: none;
				margin-bottom: 20px;
				padding-left: 0;
				font-size: 19px;
				font-weight: bolder;
				letter-spacing: 3px;
			}
		}
		.login-logo {
			display: none;
		}
		.error {
			margin: 0 0 10px;
		}
	}
	&#verify2nd {
		#content {
			margin: 60px auto;
		}
		#main {
			float: none;
			margin: 0 auto;
			height: auto;
			width: 450px;
			h2 {
				background-image: none;
				margin-bottom: 20px;
				padding-left: 0;
				font-size: 19px;
				font-weight: bolder;
				letter-spacing: 3px;
			}
			.verifyCodeSection {
				margin-bottom: 20px;
			}
			#verifyMethods div {
				background: inherit;
				border: inherit;
			}
		}
	}
}
p {
	&.nav-login-01 {
		margin-top: 10px;
		text-align: center;
	}
	&.nav-login-02 {
		margin-top: 10px;
	}
}
table {
	&.tbl-login-01 {
		th {
			font-weight: bold;
			text-align: left;
			width: 80px;
		}
		td {
			width: 255px;
		}
		input {
			width: 250px;
		}
		input[type=checkbox] {
			width: 20px;
		}
	}
	&.tbl-login-02 {
		width: 100%;
		th {
			font-weight: bold;
			text-align: left;
			width: 50%;
			padding-bottom: 5px;
		}
		td {
			width: 50%;
			padding-bottom: 5px;
		}
		input {
			width: 90%;
		}
		select {
			width: 90%;
		}
	}
}

.expire {
	width: 400px;
}
