$black: #000000;
$white: #ffffff;
$color_cerulean_approx: #00ace5;
$color_matisse_approx: #225d97;
$color_shark_approx: #262626;
$color_mine_shaft_approx: #333333;
$color_astral_approx: #376fa3;
$color_steel_blue_approx: #4488c8;
$color_gravel_approx: #4a4a4a;
$color_emperor_approx: #4d4d4d;
$color_fuscous_gray_approx: #525252;
$color_chicago_approx: #565656;
$color_storm_dust_approx: #666666;
$color_olive_drab_approx: #6c9120;
$color_tapa_approx: #757575;
$color_stack_approx: #8f8f8f;
$color_sushi_approx: #8eae4b;
$color_star_dust_approx: #9c9c9c;
$color_cornflower_approx: #97c1ea;
$color_mountain_mist_approx: #999999;
$color_stiletto_approx: #a43b38;
$color_green_smoke_approx: #a4b476;
$color_silver_chalice_approx: #aaaaaa;
$color_luxor_gold_approx: #b08427;
$color_pink_swan_approx: #b8b8b8;
$color_wild_willow_approx: #b8cf7a;
$color_spindle_approx: #b9d5f0;
$color_sail_approx: #bbd8f2;
$color_silver_approx: #bdbdbd;
$color_deco_approx: #c5d79b;
$color_mojo_approx: #c84944;
$color_celeste_approx: #cdcdcd;
$color_quill_gray_approx: #d3d3d3;
$color_hawkes_blue_approx: #d4e8fa;
$color_roti_approx: #d5a642;
$color_caper_approx: #dcf0aa;
$color_alto_approx: #dddddd;
$color_link_water_approx: #dde9f5;
$color_mercury_approx: #e6e6e6;
$color_putty_approx: #e8ca89;
$color_sea_pink_approx: #ea9a97;
$color_gray_nurse_approx: #eaeaea;
$color_gallery_approx: #ededed;
$color_zumthor_approx: #eff6fd;
$color_saffron_mango_approx: #f0bf58;
$color_beauty_bush_approx: #f2bdbb;
$color_sweet_pink_approx: #f3a4a1;
$color_rum_swizzle_approx: #f3f9e4;
$color_your_pink_approx: #f7c0be;
$color_peach_yellow_approx: #f7dfab;
$color_dairy_cream_approx: #f7e5bc;
$color_cosmos_approx: #fad6d4;
$color_chardon_approx: #fff2f1;
$color_old_lace_approx: #fff6e4;
