//urls
$url_hm_1: url(../../../../images/gem/skin/horizontal/bg-user-nav-01.gif);
$url_hm_2: url(../../../../images/gem/skin/horizontal/icon-arrow-01.png);
$url_hm_3: url(../../../../images/gem/skin/horizontal/icon-arrow-01_o.png);
$url_hm_4: url(../../../../images/gem/skin/horizontal/icon-arrow-03.png);
$url_hm_5: url(../../../../images/gem/skin/horizontal/icon-change-01.png);
$url_hm_6: url(../../../../images/gem/skin/horizontal/icon-account-01.png);
$url_hm_7: url(../../../../images/gem/skin/horizontal/icon-account-01_o.png);
$url_hm_8: url(../../../../images/gem/skin/horizontal/icon-arrow-07.png);
$url_hm_9: url(../../../../images/gem/skin/horizontal/icon-arrow-07_o.png);
$url_hm_10: url(../../../../images/gem/skin/horizontal/btn-submit-01.png);
$url_hm_11: url(../../../../images/gem/skin/horizontal/btn-submit-01_o.png);
$url_mn_1: url(../../../../images/gem/skin/horizontal/icon-home-01.png);
$url_mn_2: url(../../../../images/gem/skin/horizontal/bg-default-01.png);
$url_mn_3: url(../../../../images/gem/skin/horizontal/icon-arrow-04.png);
$url_mn_4: url(../../../../images/gem/skin/horizontal/icon-arrow-04_o.png);
$url_mn_5: url(../../../../images/gem/skin/horizontal/icon-arrow-03.png);
$url_mn_6: url(../../../../images/gem/skin/horizontal/icon-navdefault-02.png);
$url_cn_1: url(../../../../images/gem/skin/horizontal/btn-split-01.png);
$url_cn_2: url(../../../../images/gem/skin/horizontal/btn-split-02.png);
$url_ft_1: url(../../../../images/gem/skin/horizontal/icon-page-01.png);
