//colors
// $color_well_read_approx: #bd3031;

//urls
// $url_ce1: url(../../../../images/gem/skin/vertical/loading.gif);

.ico-required {
	display: inline-block;
	float: right;
	padding: 0 5px;
	margin-top: -1px;
	color: $color_well_read_approx;
	border: 1px solid $color_well_read_approx;
}

p.loading {
	background: $url_ce1 no-repeat scroll 0 0 transparent;
	height: 16px;
	margin: 2px;
	width: 16px;
}

/* binary表示 */
.list-bin {
	//リンク
	>a.link-bin {
		vertical-align: top
	}
	//ローテ―トボタン
	>.viewer-toolbar {
		display: inline-block;
		
		>ul {
			margin: 0;
		    padding: 0 3px;
		}
	}
}
//ImageViewer
.viewer-container.viewer-backdrop {
	background-color:rgba(0,0,0,0.8);
}
//表示画像
img.img-viewer {
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
//ImageViewer
.viewer-container.viewer-backdrop {
	background-color:rgba(0,0,0,0.8);
}
//表示画像
img.img-viewer {
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
	transition:all .3s;
	-webkit-transition: all .3s;
}
