//colors
// $color_silver_chalice_approx: #aaa;
// $white: #fff;
// $color_mountain_mist_approx: #919191;

.list_operation {
	display: block;
	float: left;
	input {
		margin-right: 20px;
	}
	.gr-btn-02 {
		background: $color_silver_chalice_approx;
		color: $white;
		&:hover {
			background: $color_mountain_mist_approx;
		}
	}
	.cancel-link {
		display: block;
		float: left;
		margin-bottom: 20px;
		a {
			display: block;
			min-width: 150px;
			vertical-align: middle;
			font-size: 0.92857rem;
			text-align: center;
			line-height: 20px;
			padding: 5px 25px;
			//Instead of the line below you could use @include box-sizing($bs)
			box-sizing: border-box;
			background: $color_silver_chalice_approx;
			border: 0 !important;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: background 300ms;
			cursor: pointer;
			color: $white;
			text-decoration: none;
		}
		&:hover a {
			background: $color_mountain_mist_approx;
			text-decoration: none;
		}
	}
	li:last-child input {
		margin-right: 0;
	}
}
.nav-disc-all {
	display: block;
	float: right;
	li {
		display: block;
		float: left;
		line-height: 30px;
		font-size: 0.92857rem;
		+ li {
			margin-left: 10px;
		}
		+ li::before {
			content: ' ';
			display: inline-block;
			margin-right: 10px;
		}
	}
}
.nav-section {
	display: block;
	width: 100%;
	float: left;
	li {
		float: left;
		margin: 0 10px 10px 0;
		font-size: 0.92857rem;
	}
}
