$black: #000000;
$white: #ffffff;
$color_cerulean_approx: #00ace5;
$color_black_approx: #010101;
$color_matisse_approx: #225d97;
$color_shark_approx: #262626;
$color_mine_shaft_approx: #333333;
$color_tuatara_approx: #383838;
$color_gravel_approx: #4a4a4a;
$color_fuscous_gray_approx: #545454;
$color_chicago_approx: #565656;
$color_storm_dust_approx: #666666;
$color_cornflower_blue_approx: #66aced;
$color_tapa_approx: #757575;
$color_gunsmoke_approx: #838383;
$color_stack_approx: #8f8f8f;
$color_cornflower_approx: #97c1e9;
$color_mountain_mist_approx: #999999;
$color_star_dust_approx: #9c9c9c;
$color_silver_chalice_approx: #aeaeae;
$color_sail_approx: #afd9ff;
$color_spindle_approx: #b0cfee;
$color_nobel_approx: #b2b2b2;
$color_pink_swan_approx: #b8b8b8;
$color_conifer_approx: #b8e353;
$color_pine_glade_approx: #bacb8e;
$color_silver_approx: #bdbdbd;
$color_tropical_blue_approx: #bfd8f1;
$color_cloud_approx: #c5c3c3;
$color_pumice_approx: #c8c8c8;
$color_deco_approx: #ccdda0;
$color_celeste_approx: #cfcfcf;
$color_quill_gray_approx: #d2d2d2;
$color_iron_approx: #d6d6d6;
$alto: #dbdbdb;
$color_alto_approx: #dedede;
$color_link_water_approx: #e0ecf8;
$color_bon_jour_approx: #e2e2e2;
$color_mercury_approx: #e7e7e7;
$color_tusk_approx: #e4f3bf;
$color_caper_approx: #d6e5af;
$color_gray_nurse_approx: #e8e8e8;
$color_chiffon_approx: #edfcc8;
$color_sunglo_approx: #ed6f6b;
$color_gallery_approx: #eeeeee;
$color_zumthor_approx: #eff6fd;
$color_ronchi_approx: #f0bb4a;
$seashell: #f1f1f1;
$color_rob_roy_approx: #f2cc7a;
$color_sweet_pink_approx: #f3a19f;
$color_bizarre_approx: #f3dbd9;
$color_janna_approx: #f3ebd8;
$color_rum_swizzle_approx: #f3f9e4;
$wild_sand: #f4f4f4;
$color_mandys_pink_approx: #f6bab8;
$color_marzipan_approx: #f6da9e;
$color_your_pink_approx: #f7c5c3;
$color_wheat_approx: #f7e1b0;
$color_banana_mania_approx: #fae4b3;
$color_pippin_approx: #fce4e2;
$color_sazerac_approx: #fcf4e1;
$color_sundown_approx: #ffb9b7;
$color_golden_glow_approx: #ffe492;
$color_chardon_approx: #fff2f1;
$color_old_lace_approx: #fff6e4;
