.bulk-edit {
	.tbl-section {
		td.section-data {
			padding: 8px 10px;
		}
		.data-label {
			display: inline-block;
			padding: 2px 0;
			margin: 2px 0;
		}
	}
	.numericRange input{
		width: 45% !important;
		margin-left: 4px;
	}
}
