.about-desc {
	padding: 12px 10px 10px 0;
	margin-bottom: 10px;
}
.about-title {
	float: none;
}
.about-contents {
	margin-bottom: 20px;
	.about-content {
		padding: 5px 5px 5px 0;
		vertical-align: top;
	}
}

