//colors
// $white: #fff;
// $color_gallery_approx: #ededed;
// $color_wild_sand_approx: whitesmoke;

//@extend-elements
//original selectors
//.tbl-information-list th, .tbl-information-list td
%extend_il1 {
	padding: 20px;
	background: $white;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: background 300ms;
}


.tbl-information-list {
	th {
		@extend %extend_il1;
		width: 170px;
	}
	td {
		@extend %extend_il1;
	}
	tr {
		&:hover {
			th {
				background: $color_wild_sand_approx;
			}
			td {
				background: $color_wild_sand_approx;
			}
		}
		&:nth-child(n + 2) {
			th {
				border-top: 1px solid $color_gallery_approx;
			}
			td {
				border-top: 1px solid $color_gallery_approx;
			}
		}
	}
	a {
		display: inline-block;
		position: relative;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		width: 100%;
		&:hover {
			text-decoration: none;
		}
	}
	a::after {
		content: '\00BB';
		position: absolute;
		right: 0;
	}
}
.pw-warn-area {
	display: block;
	width: 100%;
	float: left;
	padding: 10px 0;
	margin-bottom: 10px;
	font-size: 1rem;
	span {
		margin: 0 10px;
	}
}
