//urls
//common/etc
$url_ce1: url(../../../../images/gem/skin/vertical/loading.gif);
//common/header
$url_ch1: url(../../../../images/gem/skin/vertical/bg-hgroup-01.gif);
$url_ch2: url(../../../../images/gem/skin/vertical/icon-arrow-01.png);
$url_ch3: url(../../../../images/gem/skin/vertical/icon-arrow-03.png);
//common/modal
$url_cm1: url(../../../../images/gem/skin/vertical/icon-close-01.gif);
$url_cm2: url(../../../../images/gem/skin/vertical/icon-maximize-01.gif);
$url_cm3: url(../../../../images/gem/skin/vertical/icon-restore-01.gif);
//common/operation
$url_co1: url(../../../../images/gem/skin/vertical/bg-user-nav-01.gif);
$url_co2: url(../../../../images/gem/skin/vertical/icon-arrow-02.png);
//common/tooltip
$url_ct1: url(../../../../images/gem/skin/vertical/icon-tooltip-01.png);
//fulltextesearch/fulltextsearch
$url_ff1: url(../../../../images/gem/skin/vertical/icon-arrow-07.png);
$url_ff2: url(../../../../images/gem/skin/vertical/icon-arrow-07_o.png);
//generic/common
$url_gc1: url(../../../../images/gem/skin/vertical/icon-arrow-06.png);
$url_gc2: url(../../../../images/gem/skin/vertical/icon-arrow-03.png);
// $url_gc3: url(./images/ui-icons_888888_256x240.png);
// $url_gc4: url(./images/ui-icons_454545_256x240.png);
$url_gc3: url(../../../../images/gem/skin/vertical/ui-icons_888888_256x240.png);
$url_gc4: url(../../../../images/gem/skin/vertical/ui-icons_454545_256x240.png);
//generic/search/search
$url_gss1: url(../../../../images/gem/skin/vertical/icon-trash-01.png);
//generic/search/widget
$url_gsw1: url(../../../../images/gem/skin/vertical/icon-bullet-01.gif);
$url_gsw2: url(../../../../images/gem/skin/vertical/icon-arrow-08.png);
//plugins/jqgrid
$url_pjg1: url(../../../../images/gem/skin/vertical/icon-arrow-04.png);
$url_pjg2: url(../../../../images/gem/skin/vertical/icon-arrow-05.png);
//plugins/jqueryui
$url_pju1: url(../../../../images/gem/skin/vertical/icon-calender-02.png);
$url_pju2: url(../../../../images/gem/skin/vertical/icon-calender-03.png);
$url_pju3: url(../../../../images/gem/skin/vertical/icon-calender-02_o.png);
$url_pju4: url(../../../../images/gem/skin/vertical/icon-calender-03_o.png);
//topview/separator
$url_ts1: url(../../../../images/gem/skin/vertical/bg-col02-01.gif);
//topview/widget
$url_tw1: url(../../../../images/gem/skin/vertical/icon-arrow-08.png);
$url_tw2: url(../../../../images/gem/skin/vertical/bg-default-01.png);
