$black: #000000;
$white: #ffffff;
$color_mine_shaft_approx: #333333;
$color_matisse_approx: #225d97;
$color_cerulean_approx: #00ace5;
$color_mountain_mist_approx: #999999;
$color_star_dust_approx: #9c9c9c;
$color_gray_nurse_approx: #e8e8e8;
$color_fuscous_gray_approx: #545454;
$color_silver_approx: #bdbdbd;
$color_gravel_approx: #4a4a4a;
$color_quill_gray_approx: #d2d2d2;
$color_scarlet_approx: #eb1717;
$color_sunglo_approx: #ed6f6b;
