//@extend-elements
%extend_gdd_1 {
	display: block;
	float: left;
	width: 100%;
}

.auth-application {
	.detailForm {
		> div {
			@extend %extend_gdd_1;
		}
		.formArchive > div {
			@extend %extend_gdd_1;
		}
	}
}

#generateAuthTokenDialog {
	padding-top: 1em;
	text-align: left;
	table {
		width: 100%;
		table-layout: auto;
	}
	th {
		padding: 7px;
		vertical-align: middle;
		text-align:center;
	}
	td {
		padding: 7px;
		vertical-align: middle;
	}
	button {
		padding: 2px;
	}
	.inpbr {
		width: 270px;
		padding: 2px 5px;
	}
	.show-token {
		width: 350px;
		padding: 2px 5px;
		margin-left: 6px;
	}
	.result-title {
		font-size: larger;
		padding: 5px 5px;
	}
	.copy-btn {
		float: right;
		min-width: 100px;
		height: 25px;
		margin-right: 10px;
		padding: initial;
	}
	.copied {
		display: block;
		padding: 5px 2px;
		margin-left: 6px;
	}
}

.close-dialog {
	width: 130px;
}