#login {
	background: $color_gallery_approx;
	#container {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#header-container {
		display: none;
	}
	#main {
		height: auto !important;
		#header {
			display: block;
			float: none;
			margin-left: auto;
			margin-right: auto;
			height: 69px;
			padding: 0;
			border: 0;
			background: $url_header_01 center center no-repeat transparent;
			margin-bottom: 65px;
			#title {
				display: none;
			}
		}
	}
	h2 {
		display: none;
	}
	form {
		float: none;
		margin: 0 auto;
		width: 316px;
		padding-bottom: 0;
	}
	th {
		display: none;
	}
	td {
		display: block;
		float: left;
		height: 40px;
		width: 316px;
		margin-bottom: 10px;
		background: $white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 20px;
		input:not([type=checkbox]) {
			display: block;
			float: none;
			margin-left: auto;
			margin-right: auto;
			height: 40px;
			width: 280px;
			font-size: 1.14286rem;
			border: 0;
			background: none;
			outline: none;
			padding: 0 5px;
		}
	}
	.login-logo {
		margin: 0 auto;
		display: block;
	}
	.error {
		margin: 0 auto;
		width: 316px;
	}
	.remember-row {
		height: auto !important;
		margin-top: 5px;
		td {
			height: auto !important;
			background: none;
			font-size: 0.78571rem;
			line-height: 22px;
			margin-bottom: 0;
		}
	}
	.pseudo-checkbox {
		margin-right: 10px;
		background: none;
		&:hover {
			border-color: $color_pacific_blue_approx;
		}
		&.checked {
			border-color: $color_pacific_blue_approx;
		}
	}
	input[type='submit'] {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
		height: 84px;
		width: 84px;
		background: $color_pacific_blue_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 42px;
		font-size: 1.07143rem;
		color: $white;
		outline: none;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: 300ms;
		cursor: pointer;
		min-width: 0;
		padding: 0;
		&:hover {
			background: $color_blue_chill_approx;
		}
	}
	#footer {
		position: absolute;
		bottom: 1px;
		border: 0;
		background: none;
		left: 0;
		padding: 0;
		p {
			text-align: center;
			letter-spacing: 0.07143rem;
		}
	}
}
.tbl-login-01 {
	th {
		font-weight: bold;
		text-align: left;
		width: 80px;
	}
	td {
		width: 255px;
	}
	input {
		width: 250px;
	}
	input[type=checkbox] {
		width: 20px;
	}
}
.reauthid {
	height: 40px;
	line-height: 40px;
	font-size: 1.14rem;
	padding-left: 20px;
	display: inline-block;
}
p.nav-login-01 {
	margin-top: 20px;
	text-align: center;
}
