//colors
// $color_gallery_approx: #ededed;
// $color_alto_approx: #ddd;

//@extend-elements
//original selectors
//.completePasswordChange, .user-profile div.error
%extend_am_1 {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	font-size: 1rem;
	display: block;
}

.completePasswordChange {
	@extend %extend_am_1;
}
.user-profile {
	.formArchive {
		display: block;
		float: left;
		width: 100%;
		+ p {
			margin-bottom: 20px;
		}
	}
	div.error {
		@extend %extend_am_1;
	}
	.tbl-section {
		td.section-data {
			padding: 8px 10px;
		}
		.data-label {
			display: inline-block;
			padding: 2px 0;
			margin: 2px 0;
		}
	}
}
