@charset "utf-8";

/** Add css rules here for your application. */
/** base css smartgwt.jar#com.smartclient.theme.enterprise.public.sc.skins.Enterprise.skin_styles.css */

/* Custom textItemDisabled */
.textItemDisabled,
.selectItemTextDisabled {
    color:black;				/* default #AAAAAA */
    background-color:#E6E6E6;	/* default #FFFFFF */
/*    border:1px solid #A6ABB4; */
}

/* Custom formTitleDisabled */
.formTitleDisabled {
    color:#003168;				/* default #AAAAAA */
}

/* Custom item icon button style. base buttonRounded */
.adminButtonRounded {
	background-color: #f0f0f0;
	background-image: url("./images/cssButton/button_stretch.png");
	background-repeat: repeat-x;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
	background-image: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
	border: 1px solid #b15a59;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	padding: 0 3px;

	border: 1px solid #ababab;
	-moz-box-shadow: inset white 0 -1px 1px, inset white -1px 0 1px, inset white 1px 0 1px;
	-webkit-box-shadow: inset white 0 -1px 1px, inset white -1px 0 1px, inset white 1px 0 1px;
	box-shadow: inset white 0 -1px 1px, inset white -1px 0 1px, inset white 1px 0 1px;

	/* 調整 */
	margin-top: -3px !important;
	padding: 1px;
}

/* Top Navi Title base windowHeaderText */
.adminWindowHeaderText {
	color: #4D4D4D;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
/*	font-size:12px; */
	font-size:14px;
}


/* Disable Admin */
.AdminDisabledMessage {
	position:absolute;
	z-index:2147483647;
	left:50px;
	top:50px;
	width:600px;
	color:#FFF;
	font-family:verdana;
	text-align:left;
	font-size:30px;
	font-weight:bold;
}


/**
--------------------------
MtpTreeGrid
--------------------------
*/
/* Fixed a bug that icons are not displayed when zooming in chrome. */
td.mtpTreeGridRow span:nth-child(2),
td.mtpTreeGridRowOver span:nth-child(2),
td.mtpTreeGridRowSelected span:nth-child(2),
td.mtpTreeGridRowSelectedOver span:nth-child(2),
td.mtpTreeGridRowDisabled span:nth-child(2) {
	/* Change iconSize from 16px to 18px and adjust max-width and max-height to 16px */
	max-width: 16px;
	max-height: 16px;
}
td.mtpMultiSelectTreeGridRow span:nth-child(3),
td.mtpMultiSelectTreeGridRowOver span:nth-child(3),
td.mtpMultiSelectTreeGridRowSelected span:nth-child(3),
td.mtpMultiSelectTreeGridRowSelectedOver span:nth-child(3),
td.mtpMultiSelectTreeGridRowDisabled span:nth-child(3) {
	/* Change iconSize from 16px to 18px and adjust max-width and max-height to 16px */
	max-width: 16px;
	max-height: 16px;
}

/* base css class treeCell */
.mtpTreeGridRow,
.mtpTreeGridRowOver,
.mtpTreeGridRowSelected,
.mtpTreeGridRowSelectedOver,
.mtpTreeGridRowDisabled,
.mtpMultiSelectTreeGridRow,
.mtpMultiSelectTreeGridRowOver,
.mtpMultiSelectTreeGridRowSelected,
.mtpMultiSelectTreeGridRowSelectedOver,
.mtpMultiSelectTreeGridRowDisabled {
	color: black;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
}

.mtpTreeGridRowOver,
.mtpMultiSelectTreeGridRowOver {
	background-color: #c4ddfd;
	background-image: url(./images/ListGrid/row_Over.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	background-attachment: scroll;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0ZGRmZCIvPjxzdG9wIG9mZnNldD0iOSUiIHN0b3AtY29sb3I9IiNmMGY4ZmYiLz48c3RvcCBvZmZzZXQ9IjE0JSIgc3RvcC1jb2xvcj0iI2U2ZjNmZiIvPjxzdG9wIG9mZnNldD0iODYlIiBzdG9wLWNvbG9yPSIjY2NlNWZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzRkZGZkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4ddfd), color-stop(9%, #f0f8ff), color-stop(14%, #e6f3ff), color-stop(86%, #cce5ff), color-stop(100%, #c4ddfd));
	background-image: -moz-linear-gradient(top, #c4ddfd 0%, #f0f8ff 9%, #e6f3ff 14%, #cce5ff 86%, #c4ddfd 100%);
	background-image: -webkit-linear-gradient(top, #c4ddfd 0%, #f0f8ff 9%, #e6f3ff 14%, #cce5ff 86%, #c4ddfd 100%);
	background-image: linear-gradient(to bottom, #c4ddfd 0%, #f0f8ff 9%, #e6f3ff 14%, #cce5ff 86%, #c4ddfd 100%);
	-moz-box-shadow: inset #e6f0ff 0 1px 0, inset #e6f0ff 0 -1px 0;
	-webkit-box-shadow: inset #e6f0ff 0 1px 0, inset #e6f0ff 0 -1px 0;
	box-shadow: inset #e6f0ff 0 1px 0, inset #e6f0ff 0 -1px 0;
}

.mtpTreeGridRowSelected,
.mtpMultiSelectTreeGridRowSelected {
	background-color: #d6e8ff;
}

.mtpTreeGridRowSelectedOver,
.mtpMultiSelectTreeGridRowSelectedOver {
	background-color: #c4ddfd;
	background-image: url(./images/ListGrid/row_Selected_Over.png);
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: bottom left;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0ZGRmZCIvPjxzdG9wIG9mZnNldD0iOSUiIHN0b3AtY29sb3I9IiNmMGY4ZmYiLz48c3RvcCBvZmZzZXQ9IjE0JSIgc3RvcC1jb2xvcj0iI2U2ZjNmZiIvPjxzdG9wIG9mZnNldD0iODYlIiBzdG9wLWNvbG9yPSIjY2NlNWZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzRkZGZkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4ddfd), color-stop(9%, #f0f8ff), color-stop(14%, #e6f3ff), color-stop(86%, #cce5ff), color-stop(100%, #c4ddfd));
	background-image: -moz-linear-gradient(top, #c4ddfd 0%, #f0f8ff 9%, #e6f3ff 14%, #cce5ff 86%, #c4ddfd 100%);
	background-image: -webkit-linear-gradient(top, #c4ddfd 0%, #f0f8ff 9%, #e6f3ff 14%, #cce5ff 86%, #c4ddfd 100%);
	background-image: linear-gradient(to bottom, #c4ddfd 0%, #f0f8ff 9%, #e6f3ff 14%, #cce5ff 86%, #c4ddfd 100%);
}

.mtpTreeGridRowDisabled,
.mtpMultiSelectTreeGridRowDisabled {
	background-color: white;
	color: #ababab;
}


/**
--------------------------
Entity Inherited Grid
--------------------------
*/
/* Inherited */
.entityInheritedPropertyGridRow,
.entityInheritedPropertyGridRowDark,
.entityInheritedPropertyGridRowOver,
.entityInheritedPropertyGridRowOverDark,
.entityInheritedPropertyGridRowSelected,
.entityInheritedPropertyGridRowSelectedDark,
.entityInheritedPropertyGridRowSelectedOver,
.entityInheritedPropertyGridRowSelectedOverDark,
.entityInheritedPropertyGridRowDisabled,
.entityInheritedPropertyGridRowDisabledDark {
	background-color:#CCFFFF;
	border-bottom:1px solid #EDEDED;
	border-top:1px solid #CCFFFF;
}

/* 削除対象 */
.entityDeletePropertyGridRow,
.entityDeletePropertyGridRowDark,
.entityDeletePropertyGridRowOver,
.entityDeletePropertyGridRowOverDark,
.entityDeletePropertyGridRowSelected,
.entityDeletePropertyGridRowSelectedDark,
.entityDeletePropertyGridRowSelectedOver,
.entityDeletePropertyGridRowSelectedOverDark,
.entityDeletePropertyGridRowDisabled,
.entityDeletePropertyGridRowDisabledDark {
	background-color:#E6E6E6;
	border-bottom:1px solid #EDEDED;
	border-top:1px solid #FAFAFA;
}

/**
--------------------------
Message Item Grid
--------------------------
*/
/* 削除対象MessageItem */
.deleteMessageItemGridRow,
.deleteMessageItemGridRowDark,
.deleteMessageItemGridRowDisabled,
.deleteMessageItemGridRowDisabledDark {
	background-color:#E6E6E6;
	border-bottom:1px solid #EDEDED;
	border-top:1px solid #FAFAFA;
}
.deleteMessageItemGridRowOver,
.deleteMessageItemGridRowOverDark,
.deleteMessageItemGridRowSelected,
.deleteMessageItemGridRowSelectedDark,
.deleteMessageItemGridRowSelectedOver,
.deleteMessageItemGridRowSelectedOverDark {
	background-color:#d6e8ff;
	border-bottom:1px dotted #9fb7e9;
	border-top:1px dotted #9fb7e9;
}


/**
--------------------------
Import MetaData Grid
--------------------------
*/

.ERRORMessageCanvas {
	background-color:#FFCCCC;
}
.WARNMessageCanvas {
	background-color:#99CCFF;
}

.ERRORGridRow,
.ERRORGridRowDark,
.ERRORGridRowOver,
.ERRORGridRowOverDark,
.ERRORGridRowSelected,
.ERRORGridRowSelectedDark,
.ERRORGridRowSelectedOver,
.ERRORGridRowSelectedOverDark,
.ERRORGridRowDisabled,
.ERRORGridRowDisabledDark {
	background-color:#FFCCCC;
	border-bottom:1px solid #EDEDED;
	border-top:1px solid #FFCCCC;
}

.WARNGridRow,
.WARNGridRowDark,
.WARNGridRowOver,
.WARNGridRowOverDark,
.WARNGridRowSelected,
.WARNGridRowSelectedDark,
.WARNGridRowSelectedOver,
.WARNGridRowSelectedOverDark,
.WARNGridRowDisabled,
.WARNGridRowDisabledDark {
	background-color:#99CCFF;
	border-bottom:1px solid #EDEDED;
	border-top:1px solid #99CCFF;
}

.importMetaGrid,
.importMetaGridDark,
.importMetaGridOver,
.importMetaGridOverDark,
.importMetaGridSelected,
.importMetaGridSelectedDark,
.importMetaGridSelectedOver,
.importMetaGridSelectedOverDark,
.importMetaGridDisabled,
.importMetaGridDisabledDark {
	border-bottom:1px solid #EDEDED;
/*	border-right:1px solid #a0a0a0; */
}

td.importMetaGrid span:nth-child(3),
td.importMetaGridOver span:nth-child(3),
td.importMetaGridSelected span:nth-child(3),
td.importMetaGridSelectedOver span:nth-child(3),
td.importMetaGridDisabled span:nth-child(3),
td.ERRORGridRow span:nth-child(3),
td.ERRORGridRowOver span:nth-child(3),
td.ERRORGridRowSelected span:nth-child(3),
td.ERRORGridRowSelectedOver span:nth-child(3),
td.ERRORGridRowDisabled span:nth-child(3),
td.WARNGridRow span:nth-child(3),
td.WARNGridRowOver span:nth-child(3),
td.WARNGridRowSelected span:nth-child(3),
td.WARNGridRowSelectedOver span:nth-child(3),
td.WARNGridRowDisabled span:nth-child(3) {
	/* Change iconSize from 16px to 18px and adjust max-width and max-height to 16px */
	max-width: 16px;
	max-height: 16px;
}


/**
--------------------------
Import Tenant Property Select Grid
--------------------------
*/
/* 差分あり */
.importTenantPaneGridDiffRow,
.importTenantPaneGridDiffRowSelected,
.importTenantPaneGridDiffRowDisabled,
.importTenantPaneGridDiffRowDark,
.importTenantPaneGridDiffRowSelectedDark,
.importTenantPaneGridDiffRowDisabledDark {
	background-color:#F4D9E3;
}
.importTenantPaneGridDiffRowOver,
.importTenantPaneGridDiffRowOverDark,
.importTenantPaneGridDiffRowSelectedOver,
.importTenantPaneGridDiffRowSelectedOverDark {
/*	background-color:#DBEDFF; */
}

/**
--------------------------
Packaging Grid
--------------------------
*/
/* Active */
.packActiveGridRow,
.packActiveGridRowDark,
.packActiveGridRowOver,
.packActiveGridRowOverDark,
.packActiveGridRowSelected,
.packActiveGridRowSelectedDark,
.packActiveGridRowSelectedOver,
.packActiveGridRowSelectedOverDark,
.packActiveGridRowDisabled,
.packActiveGridRowDisabledDark {
	background-color:#CCFFFF;
	border-bottom:1px solid #EDEDED;
	border-top:1px solid #CCFFFF;
}
/* Completed */
.packCompletedGridRow,
.packCompletedGridRowDark,
.packCompletedGridRowOver,
.packCompletedGridRowOverDark,
.packCompletedGridRowSelected,
.packCompletedGridRowSelectedDark,
.packCompletedGridRowSelectedOver,
.packCompletedGridRowSelectedOverDark,
.packCompletedGridRowDisabled,
.packCompletedGridRowDisabledDark {
	background-color:#99CCFF;
	border-bottom:1px solid #EDEDED;
	border-top:1px solid #99CCFF;
}
/* Error */
.packErrorGridRow,
.packErrorGridRowDark,
.packErrorGridRowOver,
.packErrorGridRowOverDark,
.packErrorGridRowSelected,
.packErrorGridRowSelectedDark,
.packErrorGridRowSelectedOver,
.packErrorGridRowSelectedOverDark,
.packErrorGridRowDisabled,
.packErrorGridRowDisabledDark {
	background-color:#FFCCCC;
	border-bottom:1px solid #EDEDED;
	border-top:1px solid #FFCCCC;
}

/**
--------------------------
TaskQueue Grid
--------------------------
*/
/* Active */
.taskActiveGridRow,
.taskActiveGridRowDark,
.taskActiveGridRowOver,
.taskActiveGridRowOverDark,
.taskActiveGridRowSelected,
.taskActiveGridRowSelectedDark,
.taskActiveGridRowSelectedOver,
.taskActiveGridRowSelectedOverDark,
.taskActiveGridRowDisabled,
.taskActiveGridRowDisabledDark {
	background-color:#CCFFFF;
	border-bottom:1px solid #EDEDED;
	border-top:1px solid #CCFFFF;
}
/* Completed */
.taskCompletedGridRow,
.taskCompletedGridRowDark,
.taskCompletedGridRowOver,
.taskCompletedGridRowOverDark,
.taskCompletedGridRowSelected,
.taskCompletedGridRowSelectedDark,
.taskCompletedGridRowSelectedOver,
.taskCompletedGridRowSelectedOverDark,
.taskCompletedGridRowDisabled,
.taskCompletedGridRowDisabledDark {
	background-color:#99CCFF;
	border-bottom:1px solid #EDEDED;
	border-top:1px solid #99CCFF;
}
/* Abort */
.taskAbortGridRow,
.taskAbortGridRowDark,
.taskAbortGridRowOver,
.taskAbortGridRowOverDark,
.taskAbortGridRowSelected,
.taskAbortGridRowSelectedDark,
.taskAbortGridRowSelectedOver,
.taskAbortGridRowSelectedOverDark,
.taskAbortGridRowDisabled,
.taskAbortGridRowDisabledDark {
	background-color:#FFCCCC;
	border-bottom:1px solid #EDEDED;
	border-top:1px solid #FFCCCC;
}


/**
--------------------------
PermissionExplorer Grid
--------------------------
*/

/* 奇数行 */
.permissionExplorerGridRow,
.permissionExplorerGridRowSelected,
.permissionExplorerGridRowDisabled,
.permissionExplorerTreeGridRow,
.permissionExplorerTreeGridRowSelected,
.permissionExplorerTreeGridRowDisabled {
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid #EDEDED;
}

/* 偶数行 */
.permissionExplorerGridRowDark,
.permissionExplorerGridRowSelectedDark,
.permissionExplorerGridRowDisabledDark,
.permissionExplorerTreeGridRowDark,
.permissionExplorerTreeGridRowSelectedDark,
.permissionExplorerTreeGridRowDisabledDark {
	background-color:#FAFAFA;
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid #EDEDED;
}

/* カーソルオーバー */
.permissionExplorerGridRowOver,
.permissionExplorerGridRowOverDark,
.permissionExplorerGridRowSelectedOver,
.permissionExplorerGridRowSelectedOverDark,
.permissionExplorerTreeGridRowOver,
.permissionExplorerTreeGridRowOverDark,
.permissionExplorerTreeGridRowSelectedOver,
.permissionExplorerTreeGridRowSelectedOverDark {
	background-color:#DBEDFF;
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid #EDEDED;
}

/* 定義済み */
.permissionExplorerGridConfiguredRow,
.permissionExplorerGridConfiguredRowSelected,
.permissionExplorerGridConfiguredRowDisabled,
.permissionExplorerGridConfiguredRowDark,
.permissionExplorerGridConfiguredRowSelectedDark,
.permissionExplorerGridConfiguredRowDisabledDark,
.permissionExplorerTreeGridConfiguredRow,
.permissionExplorerTreeGridConfiguredRowSelected,
.permissionExplorerTreeGridConfiguredRowDisabled,
.permissionExplorerTreeGridConfiguredRowDark,
.permissionExplorerTreeGridConfiguredRowSelectedDark,
.permissionExplorerTreeGridConfiguredRowDisabledDark {
	text-align: center;
	background-color:#CCFFCC;
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid #EDEDED;
}
.permissionExplorerGridConfiguredRowOver,
.permissionExplorerGridConfiguredRowOverDark,
.permissionExplorerGridConfiguredRowSelectedOver,
.permissionExplorerGridConfiguredRowSelectedOverDark,
.permissionExplorerTreeGridConfiguredRowOver,
.permissionExplorerTreeGridConfiguredRowOverDark,
.permissionExplorerTreeGridConfiguredRowSelectedOver,
.permissionExplorerTreeGridConfiguredRowSelectedOverDark {
	text-align: center;
	background-color:#DBEDFF;
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid #EDEDED;
}

/* 編集中 */
.permissionExplorerGridEditingRow,
.permissionExplorerGridEditingRowSelected,
.permissionExplorerGridEditingRowDisabled,
.permissionExplorerGridEditingRowDark,
.permissionExplorerGridEditingRowSelectedDark,
.permissionExplorerGridEditingRowDisabledDark,
.permissionExplorerTreeGridEditingRow,
.permissionExplorerTreeGridEditingRowSelected,
.permissionExplorerTreeGridEditingRowDisabled,
.permissionExplorerTreeGridEditingRowDark,
.permissionExplorerTreeGridEditingRowSelectedDark,
.permissionExplorerTreeGridEditingRowDisabledDark {
	text-align: center;
	background-color:#FFCC99;
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid #EDEDED;
}
.permissionExplorerGridEditingRowOver,
.permissionExplorerGridEditingRowOverDark,
.permissionExplorerGridEditingRowSelectedOver,
.permissionExplorerGridEditingRowSelectedOverDark,
.permissionExplorerTreeGridEditingRowOver,
.permissionExplorerTreeGridEditingRowOverDark,
.permissionExplorerTreeGridEditingRowSelectedOver,
.permissionExplorerTreeGridEditingRowSelectedOverDark {
	text-align: center;
	background-color:#DBEDFF;
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid #EDEDED;
}

/* 削除対象 */
.permissionExplorerGridDeletingRow,
.permissionExplorerGridDeletingRowSelected,
.permissionExplorerGridDeletingRowDisabled,
.permissionExplorerGridDeletingRowDark,
.permissionExplorerGridDeletingRowSelectedDark,
.permissionExplorerGridDeletingRowDisabledDark,
.permissionExplorerTreeGridDeletingRow,
.permissionExplorerTreeGridDeletingRowSelected,
.permissionExplorerTreeGridDeletingRowDisabled,
.permissionExplorerTreeGridDeletingRowDark,
.permissionExplorerTreeGridDeletingRowSelectedDark,
.permissionExplorerTreeGridDeletingRowDisabledDark {
	text-align: center;
	background-color:#FF9999;
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid #EDEDED;
}
.permissionExplorerGridDeletingRowOver,
.permissionExplorerGridDeletingRowOverDark,
.permissionExplorerGridDeletingRowSelectedOver,
.permissionExplorerGridDeletingRowSelectedOverDark,
.permissionExplorerTreeGridDeletingRowOver,
.permissionExplorerTreeGridDeletingRowOverDark,
.permissionExplorerTreeGridDeletingRowSelectedOver,
.permissionExplorerTreeGridDeletingRowSelectedOverDark {
	text-align: center;
	background-color:#DBEDFF;
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid #EDEDED;
}

/* Role編集中 */
.permissionExplorerRoleGridEditingRow,
.permissionExplorerRoleGridEditingRowSelected,
.permissionExplorerRoleGridEditingRowDisabled,
.permissionExplorerRoleGridEditingRowDark,
.permissionExplorerRoleGridEditingRowSelectedDark,
.permissionExplorerRoleGridEditingRowDisabledDark {
	background-color:#FFCC99;
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid #EDEDED;
}
.permissionExplorerRoleGridEditingRowOver,
.permissionExplorerRoleGridEditingRowOverDark,
.permissionExplorerRoleGridEditingRowSelectedOver,
.permissionExplorerRoleGridEditingRowSelectedOverDark {
	background-color:#DBEDFF;
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid #EDEDED;
}

/* Role削除対象 */
.permissionExplorerRoleGridDeletingRow,
.permissionExplorerRoleGridDeletingRowSelected,
.permissionExplorerRoleGridDeletingRowDisabled,
.permissionExplorerRoleGridDeletingRowDark,
.permissionExplorerRoleGridDeletingRowSelectedDark,
.permissionExplorerRoleGridDeletingRowDisabledDark {
	background-color:#FF9999;
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid #EDEDED;
}
.permissionExplorerRoleGridDeletingRowOver,
.permissionExplorerRoleGridDeletingRowOverDark,
.permissionExplorerRoleGridDeletingRowSelectedOver,
.permissionExplorerRoleGridDeletingRowSelectedOverDark {
	background-color:#DBEDFF;
	border-right: 1px solid #eeeeee;
	border-bottom:1px solid #EDEDED;
}

/* TreeGridの固定列のずれ対応 */
td.permissionExplorerTreeGridRow,
td.permissionExplorerTreeGridRowSelected,
td.permissionExplorerTreeGridRowDisabled,
td.permissionExplorerTreeGridRowDark,
td.permissionExplorerTreeGridRowSelectedDark,
td.permissionExplorerTreeGridRowDisabledDark,
td.permissionExplorerTreeGridRowOver,
td.permissionExplorerTreeGridRowOverDark,
td.permissionExplorerTreeGridRowSelectedOver,
td.permissionExplorerTreeGridRowSelectedOverDark,
td.permissionExplorerTreeGridConfiguredRow,
td.permissionExplorerTreeGridConfiguredRowSelected,
td.permissionExplorerTreeGridConfiguredRowDisabled,
td.permissionExplorerTreeGridConfiguredRowDark,
td.permissionExplorerTreeGridConfiguredRowSelectedDark,
td.permissionExplorerTreeGridConfiguredRowDisabledDark,
td.permissionExplorerTreeGridConfiguredRowOver,
td.permissionExplorerTreeGridConfiguredRowOverDark,
td.permissionExplorerTreeGridConfiguredRowSelectedOver,
td.permissionExplorerTreeGridConfiguredRowSelectedOverDark,
td.permissionExplorerTreeGridEditingRow,
td.permissionExplorerTreeGridEditingRowSelected,
td.permissionExplorerTreeGridEditingRowDisabled,
td.permissionExplorerTreeGridEditingRowDark,
td.permissionExplorerTreeGridEditingRowSelectedDark,
td.permissionExplorerTreeGridEditingRowDisabledDark,
td.permissionExplorerTreeGridEditingRowOver,
td.permissionExplorerTreeGridEditingRowOverDark,
td.permissionExplorerTreeGridEditingRowSelectedOver,
td.permissionExplorerTreeGridEditingRowSelectedOverDark,
td.permissionExplorerTreeGridDeletingRow,
td.permissionExplorerTreeGridDeletingRowSelected,
td.permissionExplorerTreeGridDeletingRowDisabled,
td.permissionExplorerTreeGridDeletingRowDark,
td.permissionExplorerTreeGridDeletingRowSelectedDark,
td.permissionExplorerTreeGridDeletingRowDisabledDark,
td.permissionExplorerTreeGridDeletingRowOver,
td.permissionExplorerTreeGridDeletingRowOverDark,
td.permissionExplorerTreeGridDeletingRowSelectedOver,
td.permissionExplorerTreeGridDeletingRowSelectedOverDark {
	height: 22px !important;
}
