//aling
.al {
	text-align: left !important;
}
.ac {
	text-align: center !important;
}
.ar {
	text-align: right !important;
}
.vt {
	vertical-align: top !important;
}
.vm {
	vertical-align: middle !important;
}
