//colors
$white: #fff;
$white_10: rgba(255, 255, 255, 0.1);
$white_25: rgba(255, 255, 255, 0.25);
$black: #000;
$red: #f00;
$gray: gray;
$color_cerulean_approx: #00ace5;
$color_pacific_blue_approx: #01b0c0;
$color_cod_gray_approx: #080808;
$color_mosque_approx: #09646c;
$color_blue_chill_approx: #0d909b;
$color_venice_blue_approx: #115d85;
$color_elm_approx: #18747a;
$color_chathams_blue_approx: #19447d;
$color_dodger_blue_approx: #2196f3;
$color_log_cabin_approx: #222222;
$color_turtle_green_approx: #273c04;
$color_plantation_approx: #2a4345;
$color_mine_shaft_approx: #313131;
$color_dell_approx: #3c5e06;
$color_cape_cod_approx: #414141;
$color_green_leaf_approx: #4c7607;
$color_apple_approx: #4caf50;
$color_chicago_approx: #5a5a5a;
$color_storm_dust_approx: #666666;
$color_tapa_approx: #777777;
$color_suva_gray_approx: #888;
$color_atlantis_approx: #92cc42;
$color_mountain_mist_approx: #999999;
$color_star_dust_approx: #9e9e9e;
$color_silver_chalice_approx: #aaa;
$color_bright_red_approx: #ab0000;
$color_wild_willow_approx: #add866;
$color_pink_swan_approx: #bababa;
$color_well_read_approx: #bd3031;
$color_guardsman_red_approx: #c00;
$color_cloud_approx: #c5c3c3;
$color_celeste_approx: #ccc;
$color_hawkes_blue_approx: #cfdfff;
$color_snowy_mint_approx: #cfffdf;
$color_quill_gray_approx: #d4d4d4;
$color_alto_approx: #ddd;
$color_chenin_approx: #dddd77;
$color_link_water_approx: #dde9f5;
$color_fog_approx: #dfcfff;
$color_pattens_blue_approx: #dfeffc;
$color_snow_flurry_approx: #dfffcf;
$color_white_ice_approx: #dfffef;
$color_black_haze_approx: #f6f6f6;
$color_mercury_approx: #e7e7e7;
$color_gray_nurse_approx: #eaeaea;
$color_gallery_approx: #ededed;
$color_blue_chalk_approx: #efdfff;
$color_rice_flower_approx: #efffdf;
$color_red_orange_approx: #f44336;
$color_pink_lace_approx: #fbdfff;
$color_half_and_half_approx: #fbffdf;
$color_cream_approx: #feffce;
$color_selective_yellow_approx: #ffb900;
$color_amber_approx: #ffc107;
$color_pastel_pink_approx: #ffcfdf;
$color_watusi_approx: #ffdfcf;
$color_pale_rose_approx: #ffdfef;
$color_peach_cream_approx: #ffefdf;
$color_scotch_mist_approx: #fffbdf;
$color_lemon_chiffon_approx: #fffacf;
$color_wild_sand_approx: whitesmoke;
$color_pacific_blue_15_approx: rgba(1, 176, 192, 0.15);
$color_mine_shaft_96_approx: rgba(49, 49, 49, 0.96);
$color_mine_shaft_85_approx: rgba(49, 49, 49, 0.85);
$color_cod_gray_20_approx: rgba(8, 8, 8, 0.2);
$color_cod_gray_36_approx: rgba(8, 8, 8, 0.36);
$color_cod_gray_88_approx: rgba(8, 8, 8, 0.88);
