$url_header_01: url(../../../../images/gem/skin/flat/login-title.png);
$url_ci_1: url(../../../../images/gem/skin/flat/icon-checkbox.png);
$url_ctt_1: url(../../../../images/gem/skin/flat/icon-tooltip-01.png);
$url_ff_1: url(../../../../images/gem/skin/flat/icon-arrow-07.png);
$url_ff_2: url(../../../../images/gem/skin/flat/icon-arrow-07_o.png);
$url_gdd_1: url(../../../../images/gem/skin/flat/icon-add.png);
$url_gdd_2: url(../../../../images/gem/skin/flat/icon-delete.png);
$url_gdd_3: url(../../../../images/gem/skin/flat/icon-pencil.png);
$url_gss_1: url(../../../../images/gem/skin/flat/icon-trash.png);
$url_gss_2: url(../../../../images/gem/skin/flat/icon-pencil.png);
$url_gc_1: url(../../../../images/gem/skin/flat/icon-search.png);
$url_pjg_1: url(../../../../images/gem/skin/flat/icon-ascend.png);
$url_pjg_2: url(../../../../images/gem/skin/flat/icon-descend.png);
$url_pjt_1: url(../../../../webjars/jqtree/1.4.2/static/spinner.gif);//not use
$url_pju_1: url(../../../../images/gem/skin/flat/ui-icons_888888_256x240.png);
$url_pju_2: url(../../../../images/gem/skin/flat/ui-icons_454545_256x240.png);
$url_tw_1: url(../../../../images/gem/skin/flat/icon-nav-009.png);
